body{
    font-family: Arial;
    background:#f2f2f2;
    text-align:center;
    padding:20px;
}

.container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
}

.card{
    width:250px;
    height:400px;
    border-radius:20px;
    overflow:hidden;
    position:relative;
    box-shadow:0 10px 20px rgba(0,0,0,0.3);
    color:white;
}

.card img{
    width:100%;
    height:100%;
    object-fit:cover;
    position:absolute;
}

.overlay{
    position:absolute;
    bottom:0;
    width:100%;
    background:rgba(0,0,0,0.6);
    padding:15px;
}
